@model ProjectMVC.Models.ProjectLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manager.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
